@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|PT+Sans+Narrow');

h1{ 
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
    color: whitesmoke;
    background-color: #595959;
    padding:15px;

}

ul {
    list-style: outside none none;
}

.contact info {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #595959;
    font-size: 2;
    list-style:outside none none;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
    color: whitesmoke;
    background-color: #595959;
    padding:10px;
    font-size: 3;
}

body {
    padding: 10px;
    margin: 0 auto;
}


}




